.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 2%;
  padding-right: 2%;
  ul {
    width: 100%;
    max-width: 455px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
