.profile {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  .item {
    margin-bottom: 10px;
  }
  .title,
  .text {
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: .8em;
  }
  .title {
    margin-right: 2%;
    font-weight: 600;
  }
  .text {
    font-weight: 400;
  }
  .edit {
    width: 210px;
    height: 40px;
    margin-top: 20px;
    display: flex;
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    color: #4A4A4A;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out;
    &:hover{
      background-color: #FFF;
    }
  }
}
@media screen and (min-width: 455px) {
  .profile {
    .title,
    .text {
      font-size: 1em;
    }
  }
}
